@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLOR */
  --white: #ffffff;
  --red: #ff554a;
  --yellow: #ffe74a;
  --green: #2dc484;
  --gray: #7D7983;
  --light-gray: #f2f4f5;
  --black: #131214;
  /* FONT SIZE */
  --fs40: 40px;
  --fs32: 32px;
  --fs24: 24px;
  --fs22: 22px;
  --fs16: 16px;
}

body {
  margin: 0 auto;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

ul, li {
  list-style: none;
}

em {
  display: block;
  font-style: normal;
}

hr {
  border-top: 1px solid var(--light-gray);
}

#app {
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  min-height: 60px;
  z-index: 100;
}
.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
}
.header .header__content__title a {
  font-size: var(--fs18);
  font-weight: 600;
  line-height: 24px;
}
.header .header__content__btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header__search {
  display: none;
  height: 0;
  transition: all 0.3s ease;
}
.header__search.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 6px 18px 20px 20px;
}
.header__search__input {
  width: calc(100% - 50px);
  height: 36px;
  padding: 10px;
  border-radius: 18px;
  background-color: var(--light-gray);
}
.header__search__input .feather-search {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.header__search__input--input {
  display: inline-block;
  width: calc(100% - 30px);
  height: 16px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  vertical-align: top;
}
.header__search__input--input:focus {
  outline: none;
}
.header__search__closeBtn {
  width: 30px;
  height: 36px;
  font-size: var(--fs16);
  cursor: pointer;
}
.header__sideMenu {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  transition: all 0.3s ease;
}
.header__sideMenu.active {
  visibility: visible;
}
.header__sideMenu.active .header__sideMenu__list {
  width: 50%;
}
.header__sideMenu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 12px 18px;
  border-bottom: 1px solid var(--light-gray);
  font-size: var(--fs18);
  font-weight: 700;
}
.header__sideMenu__title .header__sideMenu__closeBtn .feather-chevrons-left {
  color: var(--gray);
  cursor: pointer;
}
.header__sideMenu__list {
  width: 0;
  height: 100vh;
  background-color: var(--white);
  overflow: hidden;
  transition: all 0.3s ease;
}
.header__sideMenu__item {
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 600;
}
.header__sideMenu__item.active, .header__sideMenu__item:hover {
  background-color: var(--light-gray);
}
.header__sideMenu__item.active a, .header__sideMenu__item:hover a {
  color: var(--black);
}
.header__sideMenu__item__title, .header__sideMenu__item__title a {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  color: var(--gray);
}
.header__sideMenu__item__title .feather, .header__sideMenu__item__title a .feather {
  width: 16px;
  height: 16px;
  background-color: var(--light-gray);
}

.category {
  margin-bottom: 20px;
  padding: 4px 18px 10px;
  border-bottom: 1px solid var(--light-gray);
  overflow: auto;
}
.category__list {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 8px;
}
.category__item {
  padding: 8px 16px;
  border-radius: 32px;
  border: 1px solid var(--light-gray);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.category__item.active {
  background-color: #E7E7FF;
  border-color: #E7E7FF;
  color: #6B4EFF;
}

.menuList {
  width: 100%;
}
.menuList__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive grid */
  row-gap: 12px; /* 상하 여백 */
  -moz-column-gap: 8px;
       column-gap: 8px; /* 좌우 여백 */
  color: var(--gray);
  margin-bottom: 40px;
}
.menuList__item {
  position: relative;
  min-width: 150px;
  min-height: 300px;
  text-align: left;
  cursor: pointer;
}
.menuList__item__thumnail {
  position: relative;
  margin-bottom: 8px;
  overflow: hidden;
}
.menuList__item__thumnail img {
  width: 100%;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease; /* 호버시 이미지 확대 효과 */
}
.menuList__item__price {
  padding-left: 6px;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
}
.menuList__item__name {
  padding-left: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--black);
}
.menuList__item--disabled {
  order: 2;
}
.menuList__item--disabled .menuList__item__thumnail::before {
  content: "다음 시즌에 만나요";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: var(--fs18);
  color: var(--white);
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
}

.menuDetail {
  padding-bottom: 73px;
  overflow-y: auto;
}
.menuDetail .menuDetail__item__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
.menuDetail .menuDetail__item__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 16px;
}
.menuDetail .menuDetail__item__content .menuDetail__item__title--name {
  margin-bottom: 6px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
}
.menuDetail .menuDetail__item__content .menuDetail__item__title--price {
  font-size: 20px;
  line-height: 24px;
}
.menuDetail .menuDetail__item__content .menuDetail__item__desc {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
}
.menuDetail .menuDetail__item__content .menuDetail__item__taste {
  height: 108px;
  overflow-x: auto;
}
.menuDetail .menuDetail__item__content .menuDetail__item__taste .menuDetail__taste__list {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 12px;
}
.menuDetail .menuDetail__item__content .menuDetail__item__taste .menuDetail__taste__item--img {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
  border-radius: 16px;
  background-color: var(--light-gray);
}
.menuDetail .menuDetail__item__content .menuDetail__item__taste .menuDetail__taste__item--name {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
}
.menuDetail .menuDetail__item__content .menuDetail__item__info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  line-height: 24px;
}
.menuDetail .menuDetail__item__content .menuDetail__item__info .feather {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: top;
}
.menuDetail .menuDetail__item__content .menuDetail__item__caution__title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.menuDetail .menuDetail__item__content .menuDetail__item__caution .menuDetail__item__caution__list .menuDetail__item__caution__item + .menuDetail__item__caution__item {
  margin-top: 20px;
}
.menuDetail .menuDetail__item__content .menuDetail__item__caution .menuDetail__item__caution__list .menuDetail__item__caution__item--title .feather {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  vertical-align: top;
}
.menuDetail .menuDetail__item__content .menuDetail__item__caution .menuDetail__item__caution__list .menuDetail__item__caution__item--title {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.menuDetail .menuDetail__item__content .menuDetail__item__caution .menuDetail__item__caution__list .menuDetail__item__caution__item--desc {
  font-size: 14px;
  line-height: 21px;
  color: var(--gray);
}
.menuDetail .menuDetail__item__content .menuDetail__item__caution .menuDetail__item__caution__list .menuDetail__item__caution__item--desc a {
  font-weight: 700;
}
.menuDetail .menuDetail__order {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 10px;
  background-color: var(--white);
  border-top: 1px solid var(--light-gray);
}
.menuDetail .menuDetail__order__button {
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 24px;
  background-color: var(--green);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header__sideMenu__list {
    width: 100%;
    height: 100vh;
    background-color: var(--white);
  }
}/*# sourceMappingURL=main.css.map */