@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLOR */
  --white: #ffffff;
  --red: #ff554a;
  --yellow: #ffe74a;
  --green: #2dc484;
  --gray: #7D7983;
  --light-gray: #f2f4f5;
  --black: #000000;
  /* FONT SIZE */
  --fs40: 40px;
  --fs32: 32px;
  --fs24: 24px;
  --fs22: 22px;
  --fs16: 16px;
}

body {
  margin: 0 auto;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 400;
}

img {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

#app {
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 48px;
}
.header .header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
}
.header .header__content__title a {
  font-size: var(--fs18);
  font-weight: 600;
  line-height: 24px;
}
.header .header__content__btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header__search {
  display: flex;
  padding: 6px 18px 0 20px;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}
.header__search__input {
  width: calc(100% - 50px);
  height: 36px;
  padding: 10px;
  border-radius: 18px;
  background-color: var(--light-gray);
}
.header__search__input .feather-search {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.header__search__input--input {
  display: inline-block;
  width: calc(100% - 30px);
  height: 16px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  vertical-align: top;
}
.header__search__input--input:focus {
  outline: none;
}
.header__search__closeBtn {
  width: 30px;
  height: 36px;
  font-size: var(--fs16);
  cursor: pointer;
}

.category {
  margin-bottom: 20px;
  padding: 4px 18px 10px;
  border-bottom: 1px solid var(--light-gray);
  overflow: auto;
}
.category__list {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  gap: 8px;
}
.category__item {
  padding: 8px 16px;
  border-radius: 32px;
  border: 1px solid var(--light-gray);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.category__item.active {
  background-color: #E7E7FF;
  border-color: #E7E7FF;
  color: #6B4EFF;
}

.menuList {
  width: 100%;
}
.menuList__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr)); /* Responsive grid */
  row-gap: 12px; /* 상하 여백 */
  -moz-column-gap: 8px;
       column-gap: 8px; /* 좌우 여백 */
  color: var(--gray);
  margin-bottom: 40px;
}
.menuList__item {
  position: relative;
  min-width: 195px;
  min-height: 300px;
  text-align: left;
  cursor: pointer;
}
.menuList__item__thumnail {
  position: relative;
  margin-bottom: 8px;
  border-radius: 16px;
  overflow: hidden;
}
.menuList__item__thumnail img {
  width: 100%;
  aspect-ratio: 3/4;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease; /* 호버시 이미지 확대 효과 */
}
.menuList__item__name {
  padding-left: 10px;
  font-size: var(--fs16);
  line-height: 24px;
  color: var(--gray);
}
.menuList__item__price {
  padding-left: 10px;
  font-size: var(--fs22);
  font-weight: 600;
  line-height: 28px;
  color: var(--black);
}
.menuList__item--disabled .menuList__item__thumnail::before {
  content: "다음 시즌에 만나요";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: var(--fs18);
  color: var(--white);
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=main.css.map */